.objects_title {
    display: flex;
    font-family: Roboto, arial;
    font-size: 50px;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.objects_structures {
    display: flex;    
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Roboto, Arial;
    font-size: 25px;
}

.dog_bed {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bed_img {
    height: 200px;
    width: 200px;
    border-color: #008cffd7;
    border-style:inset;
    border-radius: 10px;
}

.bone_toy {
    display: flex;
    flex-direction: column;
    text-align: center;
    }

.bone_img {
    height: 200px;
    width: 200px;
    border-color: #008cffd7;
    border-style:inset;
    border-radius: 7px;
}

.food_bowl {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bowl_img {
    height: 200px;
    width: 200px;
    border-color: #008cffd7;
    border-style:inset;
    border-radius: 7px;
}

.treat_food {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.treat_img{
    height: 200px;
    width: 200px;
    border-color: #008cffd7;
    border-style:inset;
    border-radius: 7px;
}

.opinion {
    display: flex;
    text-justify: center;
    text-align: center;
    background-color:  #eeeeeef9;
    font-size: 40px;
    font-weight:normal;
    font-family:Roboto, Arial;
    padding-top: 100px;
    padding-left: 300px ;
    padding-bottom: 20px;
    padding-right: 300px;
}
.opinion_author {
    display: flex;
    justify-content: end;
    padding-right: 300px;
    background-color: #eeeeeef9;
    font-family:Roboto, Arial;
    font-size: 30px;
    font-weight:bold;
    font-style: italic;
    
}

.page_end {
    display: flex;
    background-color:#008cffd7; 
    margin-left: 340px;  
    margin-top: 20px;
    margin-right: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.call_us {
    display: flex;
    flex-direction: column;
    font-family: Robto, Arial ;
    color: white;
}

.call_sentence{
    font-weight: bold;
    font-size: 30px;
    margin-left: 20%;
    margin-top: 5%;
}

.signup_sentence{
    font-size: 20px;
    margin-left: 20%;
    margin-bottom: 5%;
}


.flex_button {
    display: flex;
    align-items: center;
    margin-left: 20%;

}
.signup_button {
    background-color: #008cffd7;  
    border-color: white;
    border-radius:5px;
    color:white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
   
    }
